
h1 {
    font-family: Arial;
}

body {
    font-family: "Lucida handwriting", sans-serif;
    text-align: center;
    background-color: #e46a19;
  }
  
  #game-board {
    margin: 20px auto;
    width: 300px;
    border-style: dotted ;
    border: 2px solid #333;
    padding: 10px;
    background-color: #a35920;
  }
  
  #word-display {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  
  #guessed-letters {
    margin-bottom: 20px;
  }
  
  #hangman-graphic {
    height: 100px;
    margin-bottom: 20px;
  }
  
  #input-area {
    margin: 20px auto;
  }
  
  #letter-input {
    width: 50px;
    text-align: center;
    font-size: 18px;
  }
  
  #message {
    font-size: 18px;
    margin-top: 20px;
  }
  
  #hangman {
    position: relative;
    width: 200px;
    height: 400px;
  }
  
  #hangman img {
    position: absolute;
    width: 50px; /* Adjust the size */
    left: 50px; /* Adjust the horizontal position */
    top: 50px; /* Adjust the vertical position */
  }
  
  .victim {
    display: grid;
    grid-template-areas: "a b c d e f g";
  }

#scaredKid {
    width: 200px; 
    grid-area: g;
}

#ghost {
    width: 300px;
    grid-area: a
}
  