
h1 {
    font-family: "Lucida handwriting";
}

body {
    font-family: "Lucida handwriting", sans-serif;
    text-align: center;
    background-color: #e46a19;
  }
  
  #game-board {
    margin: 20px auto;
    width: 300px;
    border-style: dotted ;
    border: 2px solid #333;
    padding: 10px;
    background-color: #a35920;
  }
  
  #word-display {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  
  #guessed-letters {
    margin-bottom: 20px;
  }
  
  #instructions {
    display: flexbox;
    justify-content: center;
  }
  
  #input-area {
    margin: 20px auto;
  }
  
  #letter-input {
    width: 50px;
    text-align: center;
    font-size: 18px;
  }
  
  #message {
    font-size: 18px;
    margin-top: 20px;
  }
  
  
  .victim {
    display: grid;
    grid-template-areas: "a b c d e f g h";
  }

#scaredKid {
    width: 200px; 
    grid-area: h;
}

#ghost {
    width: 300px;
    grid-area: a
}
  